*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: hsl(60, 5%, 85%);
	/* background-color: hsl(337, 100%, 80%); */
}
#grid {
	display: grid;
	margin-left: 30px;
	grid-template-columns: repeat(10, 1fr);
	padding: 4px;
	border-radius: 5px;
	gap: 4px;
	width: fit-content;
	height: fit-content;
	/* background-color: hsl(208, 97%, 87%); */
	background-color: hsl(210, 2%, 10%);
}

#grid > div {
	background-color: hsla(210, 3%, 15%);

	padding: 10px;
}
.tetromino {
	border-radius: 4px;

	box-shadow: 1px 5px 22px -3px #000000;
}

.bloc {
	height: 50px;
	width: 50px;
	background-color: hsl(276, 91%, 38%);
}
